{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion Scolaire{% endblock %}</title>
    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block styles %}{% endblock %}
</head>

<body>

    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>Suivi Étudiants</h2>
      </div>
      
      <nav class="menu">
        {% if user.is_authenticated %}

            {% if user.role == 'ADMIN' %}
                <div class="menu-separator">ADMINISTRATION</div>
                <a href="{% url 'dashboard' %}" class="menu-item"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                <a href="{% url 'liste_enseignants' %}" class="menu-item"><i class="fas fa-chalkboard-teacher"></i> Enseignants</a>
                <a href="{% url 'liste_etudiants' %}" class="menu-item"><i class="fas fa-users"></i> Étudiants</a>
                <a href="{% url 'liste_modules' %}" class="menu-item"><i class="fas fa-book"></i> Modules</a>
                <a href="{% url 'liste_notes' %}" class="menu-item"><i class="fas fa-clipboard-list"></i> Saisie des Notes</a>
                <a href="{% url 'liste_absences' %}" class="menu-item"><i class="fas fa-calendar-times"></i> Gérer Absences</a>
                <a href="{% url 'liste_statistiques' %}" class="menu-item"><i class="fas fa-chart-bar"></i> Statistiques</a>
                <a href="{% url 'promotion_groupe' %}" class="menu-item"><i class="fas fa-layer-group"></i> Promotions & Groupes</a>
            {% endif %}

            {% if user.role == 'PROFESSEUR' %}
                <div class="menu-separator">MON ESPACE</div>
                <a href="{% url 'dashboard' %}" class="menu-item"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                <a href="{% url 'espace_enseignant' %}" class="menu-item"><i class="fas fa-graduation-cap"></i> Mes Modules</a>
               <a href="{% url 'liste_notes' %}" class="menu-item"><i class="fas fa-clipboard-list"></i> Saisie des Notes</a>
                <!--<a href="{% url 'liste_absences' %}" class="menu-item"><i class="fas fa-calendar-times"></i> Gérer Absences</a>-->
            {% endif %}

            <div class="menu-footer mt-auto">
                <hr class="mx-3 border-secondary">
                <div class="px-3 mb-2 text-white small">
                    <i class="fas fa-user-circle me-2"></i> {{ user.get_full_name|default:user.username }}
                    <br><span class="badge bg-primary mt-1">{{ user.role }}</span>
                    
                </div>
                <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Déconnexion</button>
                </form>
            </div>

        {% else %}
            <a href="{% url 'login' %}" class="menu-item"><i class="fas fa-sign-in-alt"></i> Connexion</a>
        {% endif %}
      </nav>
    </aside>
    
    <main class="main-content">
        <header class="top-bar mb-4 p-3 bg-white shadow-sm d-flex justify-content-end">
            <!--<span class="text-muted">Session : <strong>2025-2026</strong></span>-->
        </header>

        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>