<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Suivi étudiants{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header>
      <h1>Suivi des indicateurs étudiants</h1>
      <nav>
        <a href="#">Dashboard</a> | <a href="#">Notes</a> |
        <a href="#">Statistiques</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
